<%= render "shared/navbar" %>
<div class="container-sm">
  <div class="logo-home">
    <%= image_tag "nori-logo.png" %>
  </div>

  <div class="car-logo">
    <%= image_tag "car2.png" %>
  </div>

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

</div>

<div class="whatsapp-fixo">
  <a href="https://api.whatsapp.com/send?phone=41999350622" target="_blank">
    <i class="fa-brands fa-whatsapp fa-5x"></i>
  </a>
</div>
