<%= render "shared/navbar" %>
<div class="container-sm">
  <div class="logo-home">
    <%= image_tag "nori-logo.png" %>
  </div>

  <div class="car-logo">
    <%= image_tag "car2.png" %>
  </div>


  <div>
    <h2>Sobre o Trabalho</h2>
    <p>Apresentaçao</p>
  </div>

  <div>
    <h2>Carros</h2>
    <p>Cards</p>
  </div>

  <div>
    <h2>Portfolio</h2>
    <p>Imagens galeria</p>
  </div>

</div>
<div class="whatsapp-fixo">
  <a href="https://api.whatsapp.com/send?phone=41999350622" target="_blank">
    <i class="fa-brands fa-whatsapp fa-5x"></i>
  </a>
</div>
