<%= render "shared/navbar" %>
<div class="container-sm">
  <div class="logo-home">
    <%= image_tag "nori-logo.png" %>
  </div>

  <div class="car-logo">
    <%= image_tag "car2.png" %>
  </div>

  <div>
    <h2>Sobre o Trabalho</h2>
    <p>Desde <strong>1999</strong> a Nori Autos Luxo atua na área de locação de veículos em grandes eventos, com muita pontualidade, conforto, descrição, segurança e ética em seus serviços prestados.</p>
  </div>

  <div>
    <h2>Carros</h2>
    <p>Cards</p>

    <div class="cards-a">
      <div class="card-category-a" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Mercedes
      </div>

      <div class="card-category-a" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        Clássicos
      </div>

      <div class="card-category-a" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Porshe
      </div>
    </div>
  </div>

  <div>
    <h2>Portfolio</h2>
    <p>Imagens galeria</p>
  </div>

</div>
<div class="whatsapp-fixo">
  <a href="https://api.whatsapp.com/send?phone=41999350622" target="_blank">
    <i class="fa-brands fa-whatsapp fa-5x"></i>
  </a>
</div>
